%div.row
  %div.span2
  %div.span8
    = twitter_bootstrap_form_for @sample do |sample|
      - if @sample.errors.any?
        #error_explanation
          %h2= "#{pluralize(@sample.errors.count, "error")} prohibited this sample from being saved:"
          %ul
            - @sample.errors.full_messages.each do |msg|
              %li= msg
                  
              
      = sample.inputs 'New Sample', :class => 'new' do
        = sample.text_field :name, 'Sample Name', :class => 'input-block-level', :placeholder => 'GFP-IgG chimera'
        = sample.select :variety, 'Type of sample', {:Chemical => 'Chemical', :Biological => "Biological"}, :class => 'small'
        = sample.text_area :description, 'What is the sample?', :rows => 3
        = sample.text_field :location, 'Where is it?', :class => 'input-block-level', :placeholder => 'Fridge'
        = sample.text_field :creator, 'Who made the sample?', :class => 'input-block-level', :placeholder => 'Jane Doe'

        %label.radio
          %input{:type=>'radio', :name => :visibility, :id => 'visibility1', :value => :public, :checked => true}
            Make this sample publically visible
        %label.radio
          %input{:type=>'radio', :name => :visibility, :id => 'visibility2', :value => :private}
            Make this sample private and visible to you only
        
                      
          
        = sample.actions do
          = sample.submit 'Save', :class => 'btn btn-success'
          = button_tag 'Cancel', :type => 'reset', :class => 'btn btn-danger'
        
      
          
  %div.span2    
    

    
