%h1 Feed
%div.row
  %div.span6
    %table{:class => "table table-bordered"}
      %tr
        %th Name
        %th Type
        %th Description
        %th Location
        %th Creator
        %th
        %th
        %th
    
      - @samples.each do |sample|
        %tr
          %td= sample.name
          %td= sample.variety
          %td= sample.description
          %td= sample.location
          %td= sample.creator
          %td= link_to 'Show', sample
          %td= link_to 'Edit', edit_sample_path(sample)
          %td= link_to 'Destroy', sample, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %div.span6
  This is a span 6	
          
    
    %br
= link_to 'New Sample', new_sample_path