%div.row
  %div.span1
  %div.span10
    %h1 Listing samples
    %table{:class => "table table-bordered table-striped table-hover"}
      %tr
        %th Name
        %th Type
        %th Description
        %th Location
        %th Creator
        %th
        %th
        %th
    
      - @samples.each do |sample|
        %tr
          %td= sample.name
          %td= sample.variety
          %td= sample.description
          %td= sample.location
          %td= sample.creator
          %td= link_to 'Show', sample
          %td= link_to 'Edit', edit_sample_path(sample)
          %td= link_to 'Destroy', sample, :method => :delete, :data => { :confirm => 'Are you sure?' }
    = link_to 'New Sample', new_sample_path, :class => 'btn btn-primary pull-right'
  %div.span1

