%p#notice= notice

%p
  %b Name:
  = @sample.name
%p
  %b Variety:
  = @sample.variety
%p
  %b Description:
  = @sample.description
%p
  %b Location:
  = @sample.location
%p
  %b Creator:
  = @sample.creator

= link_to 'Edit', edit_sample_path(@sample)
\|
= link_to 'Back', samples_path
