!!! 5
%html
  %head   
    %title SamplR!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{:style => "padding:40px"}
    %div{:class => "navbar navbar-inverse navbar-fixed-top"}
      %div{:class => "navbar-inner"}
        %div{:class => "container"}
          %a{:class =>"brand", :href => "#"}Igor
          %ul{:class => "nav"}
            %li.active
              %a{:href => "#"}Feed
            %li
              %a{:href => "#"}Your samples
            %li
              %a{:href => "#"}About
          %ul{:class => "nav pull-right"}
            %li
              %a{:hred => "#"}Login
      #main
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
        = yield